{% extends "base.html" %}

{% block title %}Профиль{% endblock %}

{% block content %}


<nav class="profile-nav">
    <div> {{user.name}}</div>
    <ul>
        <li><a href="/profile/favorites">Избранное</a></li>
        <li><a href="/profile/my_adverts">Мои объявления</a></li>
        <li><a href="/profile/deals">Мои сделки</a></li>
        <li><a href="/profile/create_advert">Создать объявление</a></li>
    </ul>
    <button><a href="/profile/Edit">Edit</a></button>
</nav>

<div id="profile-content">
    <!-- Здесь можно динамически показывать выбранный раздел -->
</div>
{% endblock %}
